<!-- ============================================================== -->
<!-- navbar -->
<!-- ============================================================== -->
<div class="docs-header">
    <nav class="navbar navbar-expand navbar-light bg-white fixed-top ">
        <a class="navbar-brand" href="../index.html"><img src="../assets/images/logo-dark.svg" alt="">
        </a>

        <ul class="navbar-nav ml-auto flex-row">
            <li class="nav-item docs-header-btn">
                <a class="btn btn-primary" href="https://bit.ly/38DGpi8" target="_blank">Buy now</a>
            </li>
        </ul>

    </nav>
</div>
<!-- ============================================================== -->
<!-- end navbar -->
<!-- ============================================================== -->